{% extends 'headerandfooter.html' %}
{% block content %}  
      <!--bread-crumb-->
      <div class="iq-breadcrumb" style="background-image: url(./assets/images/pages/01.webp);">
         <div class="container-fluid">
            <div class="row align-items-center">
                  <div class="col-sm-12">
                      <nav aria-label="breadcrumb" class="text-center">
                          <h2 class="title">About Us</h2>
                          <ol class="breadcrumb justify-content-center">
                              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li> 
                              <li class="breadcrumb-item active">coming soon</li>
                          </ol>
                      </nav>
                  </div>
              </div> 
         </div>
      </div>      <!--bread-crumb-->

<div class="section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 col-md-12">
                <div class="title-box text-center">
                    <h2>Coming Soon</h2>
                    <p class="mb-0">
                        </p>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        
    </div>
</div>

  </main>

  {% endblock %}